node_modules
.turbo
.next
.vercel
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
.env
.env*.local
apps/web/.env*.local
apps/web/public/sw.js
apps/web/public/sw.js.map

# supabase local
supabase/.temp
supabase/.branches
